* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
nav {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    box-shadow: inset;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    .navContainer {
        width: 70%;
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        align-items: center;
        > a {
            text-decoration: none;
            font-size: 20px;
        }
        .linksContainer {
            display: flex;
            gap: 50px;
            a {
                color: #000;
                font-weight: 700;
                text-decoration: none;
                transition: 0.3s all ease-in;
                &:hover
                {
                    color: #0000EE;
                }
            }
        }
    }
}
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        .background {
            background-color: #000;
            border-radius: 5px;
            padding: 10px 50px;
            > p {
                color: #fff;
                text-align: center;
                font-size: 30px;
                font-weight: 500;
            }
        }
        button {
            width: 150px;
            height: 50px;
            font-size: 20px;
            border-radius: 5px;
            padding: 10px 25px;
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            background: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 50%), 7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
            outline: none;
            &:hover {
                font-weight: 600;
            }
        }
    }
}
@media (max-width:480px) {
    nav {
        .navContainer {
            width: 90%;
            .linksContainer {
                gap: 20px;
            }
        }
    }
    main {
        .container {
            .background {
                padding: 10px;
            }
        }
    }
}